
/*
URI: http://anirudhkhanna.github.io/QuickScript
Author: Anirudh Khanna, Akshay
*/


/*-- General Styling --*/
body {
	background-color: #F5F5F5;
	font-family: Tahoma, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}


/*-- Link Buttons --*/
.btnget {
	border: none;
	border-radius: 2px;
	background-color: #46ADE0;
	color: white;
	padding: 10px;
}

.btnget:hover {
	color: white;
	background-color: #66B7F9;
}

.btnget:focus {
	color: white;
}

.btndownload {
	border: none;
	border-radius: 0px;
	background-color: #46ADE0;
	color: white;
	padding: 15px 20px;
}

.btndownload:hover {
	color: white;
	background-color: #2D8DED;
}

.btndownload:focus {
	color: white;
}

@media screen and (max-width: 480px) {
	.btndownload {
		border-radius: 5px;
		background-color: #46ADE0;
		color: white;
		padding: 5px 7px;
	}
}


/*-- Element Slide-Up Animation --*/
.slideanimup {
}

.slideup {
	/* The name of the animation */
	-webkit-animation-name: slideup;
	animation-name: slideup;

	/* The duration of the animation */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;

	/* Make the element visible (in case it is hidden in .slideanimup)*/
	visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@-webkit-keyframes slideup {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@keyframes slideup {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}


/*-- Element Slide-Left Animation --*/
.slideanimleft {
}

.slideleft {
	-webkit-animation: slideleft 1s forwards;
	animation: slideleft 1s forwards;
}

@-webkit-keyframes slideleft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
	}
	40% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.3;
	}
	80% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}

@keyframes slideleft {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}
	40% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.3;
	}
	80% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}


/*-- Element Slide-Right Animation --*/
.slideanimright {
}

.slideright {
	-webkit-animation: slideright 1s forwards;
	animation: slideright 1s forwards;
}

@-webkit-keyframes slideright {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
	}
	40% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.3;
	}
	80% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}

@keyframes slideright {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	40% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.3;
	}
	80% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}


/*-- Site Logo --*/
.qslogo {
	position: fixed;
	max-width: 105px;
	max-height: 105px;
	margin-left: 2%;
	margin-top: 20px;
	z-index: 10000;
}

@media screen and (max-width: 768px) {
	.qslogo {
		margin-top: 5px;
	}
}

@media screen and (max-width: 480px) {
	.qslogo {
		max-width: 50px;
		max-height: 50px;
		margin-top: 15px;
	}
}


/*-- Underline Border for Headings --*/
.heading-underline {
	height: 5px;
	max-width: 125px;
	margin: 20px auto 50px;
	background-color: #006DB7;
	border-radius: 20px;
}


/*-- Site Navigation --*/
.navbar {
	background-color: transparent;
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-size: 12px !important;
	line-height: 1.428 !important;
	letter-spacing: 3px;
	z-index: 9999;
	border: 0;
	border-radius: 0;
	position: absolute;
	margin-bottom: 0;
	right: 75px;
}

.navbar-inverse {
	position: absolute;
	z-index: 9999;
	border: none;
	background-color: transparent;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-inverse .navbar-toggle {
	border-color: #333;
	border: 2px solid #FFF;
}

.navbar-nav {
	background-color: transparent;
	margin-top: 50px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #EEE;
	font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #FFF;
}

ul#cross-effect {
	margin-top: 50px;
}


/*-- Navbar Hover Cross Effect --*/
.cross-effect {
	position: relative;
	z-index: 1;
}

.cross-effect a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cross-effect a::before, .cross-effect a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2px;
	margin-top: -1px;
	background: #EEE;
	content: '';
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.cross-effect a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cross-effect a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.cross-effect a:hover {
	color: #FFF;
}

.cross-effect a:hover::before {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
	opacity: 0;
}

.cross-effect a:hover::after {
}


/*-- Site Navigation for Mobile Devices --*/
@media screen and (max-width: 768px) {
	.navbar {
		right: 25px;
	}

	.navbar-toggle {
		margin-right: 0;
		margin-top: 25px;
	}

	.navbar-inverse .navbar-collapse {
		min-width: 100%;
		background-color: #333;
		background: rgba(50, 50, 50, 0.7);
		position: absolute;
		top: 61px;
		right: 10px;
		padding: 0px;
	}

	ul#cross-effect {
		text-align: center;
		display: block;
		padding: 0;
		margin: 0;
	}

	.nav>li {
		max-height: 50px;
		margin: 0;
		border-bottom: 1px solid #EEE;
	}

	.navbar-inverse .navbar-nav>li>a {
		font-size: 13px;
	}

	.navbar-inverse .navbar-nav>li>a:hover {
		color: #FFF;
		background-color: rgba(100, 100, 100, 0.5);
	}

	.cross-effect a::before, .cross-effect a::after {
		position: inherit;
	}
}


/*-- Header Styling --*/
.header {
	background: url('../img/header-bg.jpg') #111;
	color: #FFF;
	padding: 100px 25px;
	background-attachment: fixed;
	background-position: center center;
	min-height: 750px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/*-- Header QS Box --*/
.quickscript-box {
	display: block;
	min-height: 350px;
	max-width: 500px;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid white;
	text-align: center;
	margin: 80px auto 25px auto;
}

.quickscript-box-text {
	padding: 40px 20px 30px 20px;
	text-align: center;
}

.quickscript-box-text h5 {
	font-size: 30px;
	color: #FFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
}

.quickscript-box-text .border {
	width: 100px;
	border-top: 3px solid #EEE;
	margin: 0 auto;
}

.quickscript-box-text p {
	font-size: 14px;
	color: #EEE;
	line-height: 30px;
	margin-top: 35px;
}


/*-- Features --*/
.features {
	max-width: 70%;
	margin: 10px auto;
	padding: 30px 0 50px 0;
}

.features h1 {
	font-size: 40px;
	font-weight: bold;	
}

.features .featurestagline {
	font-size: 25px;
	font-family: 'Courier New', monospace;
	letter-spacing: -2px;
	font-weight: bold;
	padding-bottom: 20px;
	display: inline-block;
	line-height: 0px;
}

.features span {
	color: #006DB7;
}

.features p {
	text-align: center;
	color: #363636;
	font-size: 16px;
	padding: 20px 0 0px 0;
	line-height: 30px;
	margin-bottom: 25px;
}


/*-- Screenshots Carousel --*/
.gallery{
	margin-bottom: 30px;
}

.gallery-cell {
	width: 80%;
	height: 200px;
	/* flex-box, center image in cell */
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.gallery-cell img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	/* dim unselected */
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
	-webkit-filter: blur(1px);
	filter: blur(1px);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
	transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

.gallery-cell.is-selected img {
	/* brighten selected image */
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-filter: none;
	filter: none;
}

@media screen and (min-width: 610px) {
	.gallery-cell {
		width: 65%;
		height: 250px;
	}
}

@media screen and (min-width: 768px) {
	.gallery-cell {
		width: 75%;
		height: 400px;
	}
}

@media screen and (min-width: 980px) {
	.gallery-cell {
		width: 60%;
	}
}


/*-- Download --*/
.download {
	padding: 60px 10px;
	margin: 10px 0;
	color: white;
}

.download-box {
	background: url('../img/download-bg.jpg') #000;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 500px;
	max-width: 90%;
	padding: 20px 60px;
	margin: 0 auto;
}

@media screen and (max-width: 480px) {
	.download {
		padding: 60px 5px;
	}

	.download-box {
		padding: 5px;		
	}
}

.download-box h1 {
	font-size: 40px;
	font-weight: 600;
	margin: 50px auto 0;
	color: white;
}

.download-box p {
	color: #EEE;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
}

.download-box p.licenseinfo {
	font-size: 12px;
	margin-top: 40px;
}


/*-- Team --*/
.team {
	margin: 35px auto 55px auto;
	padding: 0 40px;
}

.team h1 {
	font-size: 40px;
	font-weight: bold;	
}

.team p.team-message {
	margin: 0 0 30px 0;
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;;
	font-size: 15px;
	color: #999;
}

.team-image {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	border-radius: 5px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.info {
	margin: 15px 0 40px 0;
}
